# Task 3

First, update the following cell to have a link to your Homework 1 GitHub repository:


**UPDATE THIS LINK:**

https://github.com/floraham/eds220-hwk-1


In this task, make at least 5 commits at moments you think are adequate. We'll look at your repo to check commit history.

Add comments for all your code. Err on the side of commenting too much for now. 

Comments in each exercise and commits will count towards your grade.

This task covers topics we will see on Monday Oct. 9. The best strategy to solve it is to get together with your classmates and work on it together after Monday's lecture.


## 1
For this task we are going to use data about  [Western Indian Ocean Coral Diversity (McClanahan, 2023)](https://knb.ecoinformatics.org/view/doi%3A10.5063%2FF1K35S3H) from the Knowledge Network for Biocomplexity (KNB) data repository. 

a. Navigate to the dataset's link and explore the data package. 
 
b. Use the next markdown cell to add a brief description of the dataset, including a citation, date of access, and a link to the archive.

Brief dataset description: These are data on coral cover and number of “genera” in the Western Indian Ocean collected from a rapid assessment method used to sample coral bleaching.  The data includes the coral reef locations, number of coral taxa, and climate change, water quality, human resource management and extraction variables for each 6.25km2 reef cell averaged over the 1998-2022 sampling period. 

Study abstract: 
The study aimed to develop a spatial ecological model to predict the current and future numbers of coral species in the western Indian Ocean, considering climate change, water quality, human resource extraction, and variable selection processes. MLM were built based on 35 environmental factors using data from 7039 reef cells and ~1000 field surveys. Temperature variables were frequently important, but other factors like depth, wave energy, oxygen levels, and more also played crucial roles. Human influences were less influential compared to climate factors. Comparing climate scenarios, the study found that coral taxa losses were lower than coral cover losses over 30 years, and the effects of excess heat and temperature rise on corals were less severe than previously thought.

Citation: 
Tim McClanahan. (2023). Western Indian Ocean Coral Diversity. Knowledge Network for Biocomplexity. doi:10.5063/F1K35S3H.

Date of Acess: October 9th 2023

Link to Archive: https://knb.ecoinformatics.org/view/doi%3A10.5063%2FF1K35S3H

## 2
In the next code cell, import the pandas package using standard abbreviation in a code cell.

Read in the data from the URL using the `pd.read_csv` function and store it as `coral_div` like this:

```
# read in data
coral_div = pd.read_csv('the URL goes here')
```

In [6]:
#import 
import pandas as pd 
#read & store 
coral_div = pd.read_csv('https://knb.ecoinformatics.org/knb/d1/mn/v2/object/urn%3Auuid%3Ae7d12a5a-f1a9-4a3e-aaa5-5222f67e799d')

## 3

Use attributes and methods of the `coral_div` data frame to obtain the following information about it:

a. how many rows and columns does it have?

b. what are the column names?

c. what are the data types of the columns?

d. display the first 8 rows with all the column names. For this one, you will need to udpate a `pandas` option (see discussion section)

e. some inital info you are interested in. 

Use the code cells marked a-e. For each, add a comment explaining what is the ouput.

In [3]:
# a how many rows
print(len(coral_div) )

# how many columns 
print(len(coral_div.columns))

NameError: name 'coral_div' is not defined

In [2]:
# b what are the column names? 
coral_div.columns

NameError: name 'coral_div' is not defined

In [9]:
# c the data types of each column 

coral_div.dtypes

PU_ID                    int64
PU_Lat                 float64
PU_Lon                 float64
Number_of_genera         int64
Country                 object
Ecoregion               object
Management              object
Habitat                 object
Observer                object
Depth                  float64
Coralcover               int64
SSTRateofRise          float64
PARmax                 float64
Calcite                float64
Dis_oxygen             float64
mean.waveNRJ           float64
Salinity_mean          float64
andrello_reef_value      int64
andrello_nutrients     float64
mean.npp               float64
TT_market_hrs          float64
TT_pop_hrs             float64
cumDHW                 float64
SST_Kurtosis           float64
SST_Median             float64
ChlorA_median          float64
andrello_sediments     float64
Current_vel_mean       float64
Diff_attenuation       float64
Grav_NP                float64
Grav_NC                float64
PH                     float64
SST_bimodality         float64
SST_Skewness           float64
ClimateStressModel     float64
Netflow                float64
Indegree               float64
Outdegree              float64
Retention              float64
min_yr                   int64
max_yr                   int64
no_replicates            int64
dtype: object

In [10]:
# d display the first 8 rows with all the column names. For this one, you will need to udpate a pandas option (see discussion section)

coral_div.head(8)

,PU_ID,PU_Lat,PU_Lon,Number_of_genera,Country,Ecoregion,Management,Habitat,Observer,Depth,...,SST_bimodality,SST_Skewness,ClimateStressModel,Netflow,Indegree,Outdegree,Retention,min_yr,max_yr,no_replicates
0,7,39.076711,-5.490011,35,Tanzania,East African Coral Coast,UnfishedLow,Crest,Tim,11.0,...,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2019,2019,1
1,7,39.076711,-5.490011,22,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,2.0,...,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2010,2015,2
2,7,39.076711,-5.490011,25,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,4.0,...,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2015,2015,1
3,7,39.076711,-5.490011,26,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,3.0,...,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2016,2019,2
4,10,39.054253,-5.512514,27,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,1.5,...,0.461297,-0.134548,0.629000,0.011721,112.75,51.50,183.75,2010,2019,3
5,10,39.054253,-5.512514,29,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Tim,1.5,...,0.461297,-0.134548,0.629000,0.011721,112.75,51.50,183.75,2015,2015,1
6,15,39.054253,-5.535017,19,Tanzania,East African Coral Coast,Restricted,Crest,Tim,8.0,...,0.461297,-0.134548,0.595600,0.011721,112.75,51.50,183.75,2019,2019,1
7,39,39.009337,-5.647518,28,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,3.0,...,0.464874,-0.158601,0.626000,-0.063087,96.50,40.75,35.75,2015,2019,3

In [11]:
# e some inital info you are interested in.

##Filtering the dataset for just Mozambique and where the Ecoregion is East African Coral Coast 

coral_div[(coral_div['Country'] == 'Mozambique') & (coral_div['Ecoregion']=="East African Coral Coast")]

,PU_ID,PU_Lat,PU_Lon,Number_of_genera,Country,Ecoregion,Management,Habitat,Observer,Depth,...,SST_bimodality,SST_Skewness,ClimateStressModel,Netflow,Indegree,Outdegree,Retention,min_yr,max_yr,no_replicates
471,5491,40.603847,-11.013654,20,Mozambique,East African Coral Coast,Restricted,Flat,Maria,1.500000,...,0.527029,-0.153980,0.65005,-0.351250,89.75,56.50,87.00,2008,2008,1
472,5491,40.603847,-11.013654,18,Mozambique,East African Coral Coast,Restricted,Flat,Nyawira,3.000000,...,0.527029,-0.153980,0.65005,-0.351250,89.75,56.50,87.00,2011,2011,1
473,5491,40.603847,-11.013654,22,Mozambique,East African Coral Coast,Restricted,Flat,Tim,1.500000,...,0.527029,-0.153980,0.65005,-0.351250,89.75,56.50,87.00,2008,2008,1
474,5492,40.626305,-11.013654,29,Mozambique,East African Coral Coast,Restricted,Flat,Nyawira,6.333333,...,0.527163,-0.149429,0.60560,-0.351250,89.75,56.50,87.00,2014,2014,3
475,5494,40.626305,-11.035840,18,Mozambique,East African Coral Coast,Restricted,Flat,Maria,2.000000,...,0.527163,-0.149429,0.62485,-0.173612,50.25,39.50,158.75,2008,2008,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532,6289,40.648763,-14.430377,28,Mozambique,East African Coral Coast,Fished,Slope,Nyawira,8.000000,...,0.520476,-0.076505,0.73945,0.723322,54.00,66.75,1.25,2014,2014,1
533,6291,40.716136,-14.430377,26,Mozambique,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,12.000000,...,0.518018,-0.077265,0.73400,0.723322,54.00,66.75,1.25,2014,2014,1
534,6298,40.648763,-14.452263,29,Mozambique,East African Coral Coast,Fished,Slope,Nyawira,5.000000,...,0.522099,-0.076072,0.73745,0.723322,54.00,66.75,1.25,2014,2014,1
535,6299,40.671221,-14.452263,35,Mozambique,East African Coral Coast,Fished,Slope,Nyawira,13.000000,...,0.521275,-0.076010,0.73695,0.723322,54.00,66.75,1.25,2014,2014,1
536,6311,40.671221,-14.496027,23,Mozambique,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,10.000000,...,0.522903,-0.074841,0.74295,0.723322,54.00,66.75,1.25,2014,2014,1

## 4

Some of the columns have data type `int64` and some have data type `float64`. What is the difference between these `int64` and `float64`?

Answer: int stands for integers, so int64 stores values in integer (no decimal) numbers. Float numbers mean that they can store decimal points

## 5

The `Country` column indicates the country of reef location. Explain in your words what is the ouput of `coral_div.Country` and `coral_div.Country.unique()`.

 coral_div.Country returns the entire column, "Country", whereas coral_div.Country.unique() returns the country column with each row being a 'unique' country. cora_div.Country alone can contain multiple rows of, say, the same country "Mozambique" whereas country.unique() will ony show one row of Mozambique, along with one row of all the other countries in the Country column.

## 6

Check the dataset's [metadata file README_md.doc](https://knb.ecoinformatics.org/view/doi:10.5063/F1K35S3H) to find which column has information about who made an observation. How many observers collected this data? HINT: use the `len` Python function. Not sure what `len` does? Use `?`.

In [12]:
# solve exercise here

#we have to first pass the column into .unique() because there may be multiple observations submitted by the same observer.
#we want to count the number of unique observers, not the number of observations they made. 
len(coral_div.Observer.unique())

16

## 7

The `Coralcover` column indicates the percent of hard coral cover in each 6km reef cell surveyed. What data is `coral_div[coral_div['Coralcover'] >= 50]` selecting?

this selection shows the rows (observations) of the dataset where hard coral cover percentage is greater than or equal to 50 percent and does not show the rest of the observations that do not fit this condition.

In [13]:
#select rows from coral_div where coral_div's Coralcover column is larger or equal to 50 percent

coral_div[coral_div['Coralcover'] >= 50]

,PU_ID,PU_Lat,PU_Lon,Number_of_genera,Country,Ecoregion,Management,Habitat,Observer,Depth,...,SST_bimodality,SST_Skewness,ClimateStressModel,Netflow,Indegree,Outdegree,Retention,min_yr,max_yr,no_replicates
39,220,39.233916,-6.658981,17,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,3.000000,...,0.527900,-0.171423,0.62130,-0.443779,127.50,62.25,204.75,2016,2016,1
40,220,39.233916,-6.658981,19,Tanzania,East African Coral Coast,UnfishedLow,Slope,Tim,2.833333,...,0.527900,-0.171423,0.62130,-0.443779,127.50,62.25,204.75,2012,2019,3
41,221,39.256374,-6.658981,25,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,10.000000,...,0.526911,-0.169093,0.52760,-0.443779,127.50,62.25,204.75,2016,2016,1
42,221,39.256374,-6.658981,19,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Tim,10.000000,...,0.526911,-0.169093,0.52760,-0.443779,127.50,62.25,204.75,2016,2016,1
43,221,39.256374,-6.658981,12,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,3.000000,...,0.526911,-0.169093,0.52760,-0.443779,127.50,62.25,204.75,2016,2016,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,4039,48.082322,-13.553193,27,Madagascar,Western and Northern Madagascar,UnfishedLow,Slope,Arielle,6.733333,...,0.566251,-0.271831,0.72960,0.670117,12.50,29.00,62.50,2017,2019,3
304,4039,48.082322,-13.553193,20,Madagascar,Western and Northern Madagascar,UnfishedLow,Slope,D'Agata,6.000000,...,0.566251,-0.271831,0.72960,0.670117,12.50,29.00,62.50,2016,2016,2
305,4039,48.082322,-13.553193,21,Madagascar,Western and Northern Madagascar,UnfishedLow,Slope,Julien,5.000000,...,0.566251,-0.271831,0.72960,0.670117,12.50,29.00,62.50,2016,2016,1
306,4039,48.082322,-13.553193,33,Madagascar,Western and Northern Madagascar,UnfishedLow,Slope,Nyawira,5.000000,...,0.566251,-0.271831,0.72960,0.670117,12.50,29.00,62.50,2015,2015,1
514,6064,40.603847,-12.496246,30,Mozambique,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,8.000000,...,0.529942,-0.145626,0.68105,0.116857,54.75,54.25,126.50,2015,2015,1

## 8

Use code to find if there are there any sites with a 30% coral cover in Tanzania.

In [14]:
# solve exercise here
#Selecting the observations where Coralcover == 30 percent coverage AND is in Tanzania 

coral_div[(coral_div['Coralcover'] == 30)&(coral_div['Country']== 'Tanzania')]

,PU_ID,PU_Lat,PU_Lon,Number_of_genera,Country,Ecoregion,Management,Habitat,Observer,Depth,...,SST_bimodality,SST_Skewness,ClimateStressModel,Netflow,Indegree,Outdegree,Retention,min_yr,max_yr,no_replicates
63,693,39.391121,-5.782490,10,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,5.000000,...,0.490512,-0.101724,0.655600,-0.309514,77.00,65.25,147.50,2018,2018,2
64,697,39.391121,-5.804983,22,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,9.166667,...,0.490769,-0.100365,0.683050,-0.309514,77.00,65.25,147.50,2010,2018,3
341,4294,39.211458,-4.814515,37,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,11.000000,...,0.451293,-0.048992,0.608900,0.514920,46.00,49.50,82.75,2018,2018,1
342,4299,39.233916,-4.837043,26,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,12.500000,...,0.451293,-0.048992,0.601725,0.514920,46.00,49.50,82.75,2018,2018,2
343,4302,39.211458,-4.859570,31,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,7.000000,...,0.452402,-0.050477,0.595200,0.514920,46.00,49.50,82.75,2018,2018,1
344,4303,39.301290,-4.859570,23,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,11.000000,...,0.453806,-0.048007,0.602300,0.514920,46.00,49.50,82.75,2018,2018,1
377,4906,39.660616,-4.972195,33,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,9.000000,...,0.488396,-0.074229,0.671900,0.156359,66.75,41.75,38.00,2013,2013,2
388,5049,39.615700,-5.490011,14,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,4.000000,...,0.489921,-0.109523,0.657000,-0.328399,93.25,57.25,650.25,2018,2018,1
389,5050,39.638158,-5.490011,18,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,6.000000,...,0.489921,-0.109523,0.618825,-0.328399,93.25,57.25,650.25,2018,2018,1

## 9

We are interested in looking at the PH of sea water (`PH` column),  mean salinity (PSS) (`Salinity_mean` column), and depth of survey location in meters (`Depth` column). Select this data.

In [5]:
# solve exercise here. Select variables of interest INCLUDING PH, Salinity, and Depth. 
# I selected more than just those three columns because I wanted to know more about the context of observation area. 
ph_sal_dep = coral_div[['PU_ID','PU_Lat','PU_Lon','Number_of_genera','Country','Ecoregion','Management','Habitat','Observer','PH', 'Salinity_mean', 'Depth', 'min_yr', 'max_yr']]
ph_sal_dep

NameError: name 'coral_div' is not defined

## 10
The `max_yr` column indicates the year of last sampling at a given site. Select the PH, salinity, and depth for sites where sampling ended in 2017.

In [16]:
# solve exercise here
#do row selection again! similar to how we did it before. 
ph_sal_dep[ph_sal_dep['max_yr']==2017]

,PU_ID,PU_Lat,PU_Lon,Number_of_genera,Country,Ecoregion,Management,Habitat,Observer,PH,Salinity_mean,Depth,min_yr,max_yr
67,700,39.391121,-5.827474,22,Tanzania,East African Coral Coast,Restricted,Lagoon/Back reef,Emily,8.2150,35.100085,16.000000,2017,2017
68,701,39.413579,-5.827474,16,Tanzania,East African Coral Coast,Restricted,Slope,Emily,8.2145,35.144927,10.000000,2017,2017
70,704,39.391121,-5.849964,16,Tanzania,East African Coral Coast,Restricted,Lagoon/Back reef,Emily,8.2150,35.101086,11.000000,2017,2017
71,704,39.391121,-5.849964,23,Tanzania,East African Coral Coast,Restricted,Lagoon/Back reef,Nyawira,8.2150,35.101086,11.000000,2017,2017
72,704,39.391121,-5.849964,17,Tanzania,East African Coral Coast,Restricted,Slope,Emily,8.2150,35.101086,9.000000,2017,2017
73,704,39.391121,-5.849964,14,Tanzania,East African Coral Coast,Restricted,Slope,Nyawira,8.2150,35.101086,9.000000,2017,2017
84,763,39.750448,-3.980476,25,Kenya,East African Coral Coast,UnfishedHigh,Slope,Nyawira,8.2110,35.278084,12.500000,2016,2017
85,763,39.750448,-3.980476,19,Kenya,East African Coral Coast,UnfishedHigh,Slope,Tim,8.2110,35.278084,6.000000,2017,2017
164,1884,43.231419,-22.438881,21,Madagascar,Western and Northern Madagascar,Restricted,Slope,D'Agata,8.2220,35.337914,9.875000,2016,2017
167,1884,43.231419,-22.438881,18,Madagascar,Western and Northern Madagascar,UnfishedLow,Slope,D'Agata,8.2220,35.337914,12.075000,2016,2017
169,1887,43.231419,-22.459756,15,Madagascar,Western and Northern Madagascar,Restricted,Slope,D'Agata,8.2220,35.337914,10.300000,2016,2017
172,1890,43.231419,-22.480628,12,Madagascar,Western and Northern Madagascar,UnfishedLow,Slope,D'Agata,8.2220,35.337914,11.000000,2016,2017
174,1899,43.253877,-22.522363,21,Madagascar,Western and Northern Madagascar,Restricted,Slope,D'Agata,8.2225,35.287419,7.266667,2016,2017
176,1899,43.253877,-22.522363,17,Madagascar,Western and Northern Madagascar,UnfishedLow,Slope,D'Agata,8.2225,35.287419,13.225000,2016,2017
179,1903,43.253877,-22.543226,17,Madagascar,Western and Northern Madagascar,Restricted,Slope,D'Agata,8.2225,35.287419,10.550000,2016,2017
182,1906,43.231419,-22.564086,14,Madagascar,Western and Northern Madagascar,Restricted,Slope,D'Agata,8.2220,35.331669,12.033333,2016,2017
185,1913,43.253877,-22.605795,20,Madagascar,Western and Northern Madagascar,Restricted,Slope,D'Agata,8.2230,35.374460,10.900000,2016,2017
188,1916,43.253877,-22.626645,21,Madagascar,Western and Northern Madagascar,UnfishedLow,Slope,D'Agata,8.2230,35.374460,14.725000,2016,2017
191,1919,43.276335,-22.647492,20,Madagascar,Western and Northern Madagascar,Restricted,Slope,D'Agata,8.2230,35.247482,9.725000,2016,2017
194,1931,43.321251,-22.730847,18,Madagascar,Western and Northern Madagascar,Restricted,Slope,D'Agata,8.2230,35.341358,11.075000,2016,2017
197,1937,43.343709,-22.793329,13,Madagascar,Western and Northern Madagascar,Fished,Slope,D'Agata,8.2230,35.390354,10.600000,2017,2017
346,4331,39.166543,-4.994717,25,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,8.2165,35.114244,7.000000,2017,2017
347,4336,39.166543,-5.017239,23,Tanzania,East African Coral Coast,Fished,Flat,Nyawira,8.2165,35.112398,3.000000,2017,2017
348,4336,39.166543,-5.017239,24,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,8.2165,35.112398,4.000000,2017,2017
349,4337,39.211458,-5.017239,19,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,8.2160,35.117374,5.500000,2017,2017
350,4343,39.211458,-5.039760,19,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,8.2160,35.117374,2.000000,2017,2017
351,4343,39.211458,-5.039760,31,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,8.2160,35.117374,15.000000,2017,2017
352,4343,39.211458,-5.039760,16,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,8.2160,35.117374,5.000000,2017,2017
353,4353,39.166543,-5.084800,36,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,8.2165,35.149462,11.000000,2017,2017
354,4357,39.189000,-5.107319,30,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,8.2160,35.270199,9.000000,2017,2017
395,5086,32.878336,-26.930928,19,South Africa,Delagoa,Restricted,NaN,Sink,8.2400,35.276642,9.416667,2015,2017
559,7031,39.615700,-4.205984,8,Kenya,East African Coral Coast,Restricted,Lagoon/Back reef,Tim,8.2120,35.204185,1.500000,2017,2017
566,11679,32.878336,-27.011417,21,South Africa,Delagoa,Restricted,Slope,Sink,8.2400,35.301208,17.000000,2015,2017
569,11680,32.878336,-27.011417,20,South Africa,Delagoa,Restricted,Slope,Sink,8.2400,35.301208,13.833333,2015,2017
574,11683,32.878336,-27.011417,21,South Africa,Delagoa,Restricted,Slope,Sink,8.2400,35.301208,13.470000,2015,2017

## 11
Use `iloc` to select rows 95 throuhg 100 (including 100) in the 17th, 20th, and 28th columns and assign these values to a new variable called `subset`. HINT: the ouput columns should be `Salinity_mean`, `mean.npp` and `Current_vel_mean`. Are you indexing from 0?

In [17]:
# solve exercise here
# use integer location method. 17th column is iloc 16 in this case because python is zero indexed. 
subset = coral_div.iloc[94:101, [16, 19, 27]]
subset

     Salinity_mean     mean.npp  Current_vel_mean
94       35.201630  1365.146729          0.878417
95       35.201630  1365.146729          0.878417
96       35.204185  1117.635010          0.839372
97       35.234774  1105.270142          0.685955
98       35.234774  1105.270142          0.685955
99       35.250068  1082.196411               NaN
100      35.250068  1082.196411               NaN

## 12 

Run `subset.isna()`. Explain what this code does and what the output represents.

In [18]:
subset.isna() 

# this code turns every entry into a binary true/false entry, based on whether they satisfy the condition of whether it is an NaN value?

     Salinity_mean  mean.npp  Current_vel_mean
94           False     False             False
95           False     False             False
96           False     False             False
97           False     False             False
98           False     False             False
99           False     False              True
100          False     False              True

## 13
Run `subset.isna().any()`. Explain what this code does and what the output represents. HINT: It could be helpful to check the [documentation of `pandas.Sries.any`](https://pandas.pydata.org/docs/reference/api/pandas.Series.any.html).

In [19]:
subset.isna().any()

# this code gives you a binary T/F result for whether at least 1 NaN entry exists in the specified columns

Salinity_mean       False
mean.npp            False
Current_vel_mean     True
dtype: bool

## 14 

Select the rows in `subset` that have NA in the `Current_vel_mean` column. HINT: you can use your answer for 9.

In [20]:
# solve exercise here

#similar to before! 
subset[subset["Current_vel_mean"].isna()]

     Salinity_mean     mean.npp  Current_vel_mean
99       35.250068  1082.196411               NaN
100      35.250068  1082.196411               NaN